body {background-color:red;}
.hide{
   color: red;}
.facts{
   font-family: 'Lobster', cursive;
 
}
.facts{
 display: flex;
 justify-content: space-around;
}. 
.row{
  height: 100px;
  width: 40%;
}

