body {background-color:red;}
.hide{
   color: red;}
.facts{
   font-family: 'Lobster', cursive;
 
}
.facts{
 display: flex;
 justify-content: space-around;
}
.facts {
 display: flex;
 justify-content: space-between;
}
.img{
    width: 50px;
width: 50%;
font-size: 20px;
}
