body{
  background-repeat: no-repeat;
  text-align: center;
  font-family: 'Oswald', sans-serif;
 min-width:300px;
}
img{
  width: 25rem;
}
button{
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 5px;
  border-radius: 10px;
}
.answer, .answer2, .answer3{
  color:red;
}
.answer4{
  color:green;
}