body{
  background-repeat: no-repeat;
  text-align: center;
}
img{
  width: 25rem;
}
button{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 5px;
  border-radius: 10px;
}