body{
 display:flex;
 flex-direction:column;
 text-align: center;
 font-family: 'Oswald', sans-serif;
}
button{
  background-color: #4CAF50; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid white;
}
a{
  text-decoration: none;
  color:black;
}
.character2{
  width: 75%;
  display:block;
  margin-left:auto;
  margin-right:auto;
  background-image: url("https://image.freepik.com/free-vector/big-modern-city-skyscraper-panoramic-view_48369-21849.jpg");
  color:white;
}
.character1{
  background-image: url("https://image.freepik.com/free-vector/group-black-family-members-characters_24911-54036.jpg");
}
