body{
 display:flex;
 flex-direction:column;
 text-align: center;
 font-family: 'Oswald', sans-serif;
 min-width:300px;
}
.content{
  display: flex;
}
button{
  background-color: #4CAF50; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid white;
}
a{
  text-decoration: none;
  color:black;
}
.character2{
  background:black;
  color:white;
  padding-left: 20px;
 padding-right: 20px;
 border-radius: 10px;
 width:500px;
 height: 600px;
 margin-left:auto;
 margin-right:auto;
}
.character1{
 background:black;
 color:white;
 padding-left: 20px;
 padding-right: 20px;
 border-radius: 10px;
 width:500px;
 height: 600px;
 margin-left:auto;
 margin-right: 25px;
}
.yolanda{
width:200px;
height: 200px;
}
.joseph{
width:200px;
height: 200px;
}
p{
  background: black;
  color: white;
  font-size: 20px;
}
h2{
  background:white;
  color:black;
  font-size: 30px;
}