
body {
  display:flex;
  flex-direction:column;
  justify-content:center;
  
  background-image:url("https://img.freepik.com/free-vector/modern-city-skyline-background_77417-791.jpg?size=626&ext=jpg");
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
	position: fixed;
  top: 0;
  left: 0;
}
